
@import "/assets/fonts.css"screen;



html {
	font-size: 10px;
}



body {
	margin: 0;
	height: 100vh;
	width: 1020px;
	margin: 0 auto;
	-webkit-hyphens: auto;
	-ms-hyphens: auto;
	hyphens: auto;
	font-family: 'Lato Regular', sans-serif;
	font-size: 1.6rem;
}



/*ШАПКА*/
.header {
	width: 100%;
	background: #2d303a;
	height: 89px;
	display: block;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
}

.logo {
	margin: 0;
	display: block;
	padding-left: 41px;
	font-weight: 500;
	line-height: 1;
	letter-spacing: -.55px;
	color: #fff;
	text-transform: uppercase;
	cursor: pointer;
	font-size: 2.5rem;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	color: white;

}

.navbar {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: end;
	-ms-flex-pack: end;
	justify-content: flex-end;
	padding-right: 40px;

}

header ul {
	padding: 0;
	padding-top: 5px;
	margin: 0;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	list-style: none;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

header ul li {
	position: relative;


}



header ul li a.ar:after {
	content: "";
	background-color: lightgrey;
	width: 2px;
	height: 2px;
    margin-top: 3px;
	border-radius: 50%;
	position: absolute;
	top: 50%;
	right: -16px;
	opacity: 0.5;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);

}

header ul li a {
	color: white;

	padding-left: 29px;
	text-decoration: none;

	font-size: 1.2rem;
	font-weight: 500;
	font-stretch: semi-condensed;
	-webkit-transition: color .25s;
	transition: color .25s;

}

header ul li a:hover {
	color: #f06c64;
}


.line {
	background: #323746;
	height: 6px;
}


/*КОНЕЦ ШАПКИ*/



/*ТЕЛЕФОННЫЙ СЛАЙДЕР*/
.telephones {
	height: 514px;
	background-color: aquamarine;
	position: relative;
	background-color: #f06c64;

	display: grid;
	grid-template-columns: 60px 60px 60px 60px 60px 60px 60px 60px 60px 60px 60px 60px;

	grid-template-areas:
		"arrowLeft telephone telephone telephone . telephone2 telephone2 telephone2 telephone2 telephone2 telephone2 arrowRight ";
	grid-column-gap: 20px;
	padding: 40px;


}








.telephone1 {
	grid-area: telephone;
	-ms-flex-item-align: center;
	align-self: center;
	cursor: pointer;
	padding-bottom: 5px;
	margin-left: -8px;

}




.telephone2 {
	grid-area: telephone2;
	-ms-flex-item-align: center;
	align-self: center;
	cursor: pointer;
	padding-bottom: 7px;
	margin-left: -15px;

}

.arrowLeft {
	grid-area: arrowLeft;
	-ms-flex-item-align: center;
	align-self: center;
	justify-self: start;
	padding-left: 2px;
	padding-bottom: 5px;
}

.arrowRight {
	grid-area: arrowRight;
	-ms-flex-item-align: center;
	align-self: center;
	justify-self: end;
	padding-bottom: 5px;
}

.arrowRight:hover {
	cursor: pointer;

	-webkit-filter: drop-shadow(1px 1px 1px white);
	filter: drop-shadow(1px 1px 1px white);

}


.arrowLeft:hover {
	cursor: pointer;

	-webkit-filter: drop-shadow(1px 1px 1px white);
	filter: drop-shadow(1px 1px 1px white);

}


.line2 {
	width: 1020px;
	height: 6px;
	background-color: #ea676b;
}

















/*ТЕЛЕФОННЫЙ СЛАЙДЕР*/


/*НАШИ СЕРВИСЫ*/
.ourServices {
	display: grid;
	height: 385px;
	grid-template-columns: 60px 220px 60px 220px 60px 220px;
	grid-template-rows: 20px 76px 100px 100px;
	grid-template-areas:
		"zero zero zero zero zero zero"
		"desc desc desc desc desc desc"
		"image1 one image3 two image5 three"
		"image2 four image4 five image6 six";
	grid-column-gap: 20px;
	grid-row-gap: 26px;

	padding: 40px;
	background-color: #f2f2f2;
	-webkit-box-align: end;
	-ms-flex-align: end;
	align-items: end;
	padding-top: 70px;

}


.name {

	grid-area: zero;
	-ms-flex-item-align: start;
	align-self: start;
	line-height: 20px;
	color: #666d89;

	font-family: 'Lato Black', sans-serif;
	font-size: 3rem;
	font-weight: 400;







}

.description {
	grid-area: desc;
	-ms-flex-item-align: start;
	align-self: start;
	justify-self: start;
	line-height: 30px;
	color: #767e9e;
	text-align: justify;
	margin-top: -2px;

	font-size: 1.8rem;
	font-weight: 100;

	letter-spacing: -.36px;








}

.image1,
.image3,
.image5 {

	margin-top: 1.5px;
}

.image2,
.image4,
.image6 {
	margin-top: -1px;
}

.item1 {
	grid-area: one;
	-ms-flex-item-align: start;
	align-self: start;

}

.image1 {
	grid-area: image1;
	-ms-flex-item-align: start;
	align-self: start;
	margin-left: 1.5px;
}

.item2 {
	grid-area: two;
	-ms-flex-item-align: start;
	align-self: start;
}

.image2 {
	grid-area: image2;
	-ms-flex-item-align: start;
	align-self: start;
	margin-left: 1.5px;
}

.item3 {
	grid-area: three;
	-ms-flex-item-align: start;
	align-self: start;

}

.image3 {
	grid-area: image3;
	-ms-flex-item-align: start;
	align-self: start;
}

.item4 {
	grid-area: four;
	-ms-flex-item-align: start;
	align-self: start;
}

.image4 {
	grid-area: image4;
	-ms-flex-item-align: start;
	align-self: start;
}

.item5 {
	grid-area: five;
	-ms-flex-item-align: start;
	align-self: start;
}

.image5 {
	grid-area: image5;
	-ms-flex-item-align: start;
	align-self: start;
}

.item6 {
	grid-area: six;
	-ms-flex-item-align: start;
	align-self: start;
}

.image6 {
	grid-area: image6;
	-ms-flex-item-align: start;
	align-self: start;
}

.titleServ {
    
	font-size: 18px;
	line-height: 18px;
	color: #666d89;
	font-family: 'Lato Regular', sans-serif;
	font-weight: 900;
	margin: 0;
    margin-top: 0px;
	text-align: justify;
	padding: 0px 0px 8px 0px;

}

.titleServ.a,.titleServ.b,.titleServ.c {
	margin-top: -3px;
    letter-spacing: -0.2px;
}

.textServ {
	font-size: 1.2rem;
	font-family: 'Lato Regular', sans-serif;
	color: #767e9e;
	font-weight: 400;
	margin: 0;
    margin-top: 1px;
	text-align: justify;
	line-height: 1.85em;
	
	max-width: 299px;
	max-height: 93px;
	overflow: hidden;
}

.line3 {
	width: 1020px;
	height: 6px;
	background-color: #ffffff;
}

/*НАШИ СЕРВИСЫ - КОНЕЦ*/








#portfolio {
	height: 862px;
	background-color: #2d303a;
	margin: 0;
	padding: 0px 40px;
	border-bottom: 6px solid #323746;

}

.titleName {
	font-size: 30px;
	letter-spacing: 0.02rem;
	line-height: 18px;
	color: #666d89;
	font-family: "Lato";
	font-weight: 900;
	text-align: left;
	margin: 0px;
	padding: 71px 0px 10px 0px;

}
.smthAbout {
    padding-top: 69px;
}

.titleDesc {
	font-size: 1.8rem;
	letter-spacing: -0.02rem;
	line-height: 30px;
	color: #767e9e;
	font-family: "Lato";
	font-weight: 300;
	text-align: left;
	margin-top: 14px;
	margin-bottom: 1px;
}

#tags {
	font-size: 1.2rem;
	line-height: 22px;
	color: #666d89;
	font-family: "Lato";
	font-weight: 400;
	text-align: left;
	margin: 11px 0 19px 1px;
	letter-spacing: -0.02rem;


}

.aroundTag {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	border: 1px solid #666d89;
	padding: 2px 7px 4px;
	border-radius: 5px;
	margin-right: 7px;
	cursor: pointer;
	-webkit-transition: all, .5s;
	transition: all, .5s;

}

.aroundTag:hover {
	border-color: white;
	color: white;
}

#containerFlex1 {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	height: 601px;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction: row ltr;
	flex-direction: row ltr;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-ms-flex-line-pack: justify;
	align-content: space-between;
	overflow: hidden;
}


#aboutUs {
	margin-top: 2px;
	padding: 0px 40px;
	height: 726px;
	background-color: #f2f2f2;
	border-bottom: 6px solid white;
}

#grid {
	padding-top: 43px;
	display: grid;
	grid-template-columns: 300px 300px 300px;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;



}

.names {
	font-size: 1.8rem;
	letter-spacing: 0.005rem;
	font-weight: 900;
	margin: 0;
	padding-top: 12px;
	color: #666d89;
}

.namesDesc {
	margin-top: 8px;
	font-size: 1.2rem;
	line-height: 2.15rem;
	letter-spacing: -0.02rem;
	text-align: justify;
	color: #767e9e;
	font-family: "Lato";
	font-weight: 400;

}

#gridForSocial {
	padding-top: 12px;
	display: grid;
	grid-template-columns: 32px 32px 32px 32px;
	grid-column-gap: 8px;
}


.light {
	cursor: pointer;
	-webkit-transition: background-color, .3s;
	transition: background-color, .3s;

}

.light:hover {
	border-radius: 50%;
	background-color: white;
}






#block {
    height: 648px;
    background-color: #f06c64;
    border-bottom: 6px solid #ea676b;
    padding: 0 40px;

}

#getA {
    padding-top: 71px;
    font-size: 3rem;
    letter-spacing: -0.02rem;
    line-height: 18px;
    color: #f0d8d9;
    font-family: "Lato";
    font-weight: 900;
    text-align: left;
    margin-top: 0px;
}

#descGet {
    width: 940px;
    height: 57px;
    font-size: 1.8rem;
    line-height: 3.0rem;
    color: #f0d8d9;
    font-family: "Lato";
    font-weight: 300;
    letter-spacing: -0.005rem;
}

#formInfo {
    margin-top: 47px;
    display: grid;
    grid-template-columns: 620px auto;
    grid-column-gap: 20px;
}


.contactInfoTitle {
    font-size: 18px;
    line-height: 18px;
    color: #f0d8d9;
    font-family: "Lato";
    font-weight: 900;
    text-align: left;

    margin: 0;

}

.contactInfoDesc {
    margin-top: 10px;
    font-size: 1.2rem;
    letter-spacing: 0.001rem;
    line-height: 2.1rem;
    color: #f0d8d9;
    font-family: "Lato";
    font-weight: 400;
    text-align: justify;
}

#location {
    width: 7px;
    margin: 14px 11px 0px 3px;

}

p.ssilka {
    margin: 0;

}



#phone {
    width: 11px;
    margin-left: 1px;
    margin-top: -2px;
    margin-right: 8px;
}

#mail {
    width: 13px;
    margin-top: -7px;
    margin-right: 10px;
}

.ssilka,
.ssilka2,
.ssilka3 {
    font-size: 1.1rem;
    line-height: 20px;
    color: #f0d8d9;
    font-family: "Lato";
    font-weight: 400;
    text-decoration: none;
    letter-spacing: 0.022rem;

}

.ssilka2 {
    font-size: 1.1rem;
    letter-spacing: 0.03rem;

}

.ssilka3 {
    font-size: 1.1rem;
    letter-spacing: 0.05rem;

}


.inputName,
.inputMail,
.inputSub,
.inputTextarea {
    border: none;
    width: 605px;
    border-radius: 5px;
    background-color: #d6564f;
    font-size: 1.2rem;
    line-height: 22px;
    color: #f48c8f;
    font-family: "Lato";
    font-weight: 400;
    text-align: left;

    padding: 8px 0 8px 15px;
    margin-bottom: 16px;

}

.inputName::-webkit-input-placeholder {
    color: #f48c8f;
    font-size: 1.2rem;
    line-height: 22px;
    font-family: "Lato";
    font-weight: 400;
    text-align: left;

}

.inputName:-ms-input-placeholder {
    color: #f48c8f;
    font-size: 1.2rem;
    line-height: 22px;
    font-family: "Lato";
    font-weight: 400;
    text-align: left;

}

.inputName::placeholder {
    color: #f48c8f;
    font-size: 1.2rem;
    line-height: 22px;
    font-family: "Lato";
    font-weight: 400;
    text-align: left;

}

.inputName:focus {
    outline: none;
    background-color: white;
}
.inputMail:focus {
    outline: none;
    background-color: white;
}

.inputSub:focus {
    outline: none;
    background-color: white;    
}

.inputTextarea:focus {
    outline: none;
    background-color: white;    
}

.inputMail::-webkit-input-placeholder {
    color: #f48c8f;
    font-size: 1.2rem;
    line-height: 22px;
    font-family: "Lato";
    font-weight: 400;
    text-align: left;
}

.inputMail:-ms-input-placeholder {
    color: #f48c8f;
    font-size: 1.2rem;
    line-height: 22px;
    font-family: "Lato";
    font-weight: 400;
    text-align: left;
}

.inputMail::placeholder {
    color: #f48c8f;
    font-size: 1.2rem;
    line-height: 22px;
    font-family: "Lato";
    font-weight: 400;
    text-align: left;
}

.inputSub::-webkit-input-placeholder {
    color: #f48c8f;
    font-size: 1.2rem;
    line-height: 22px;
    font-family: "Lato";
    font-weight: 400;
    text-align: left;
}

.inputSub:-ms-input-placeholder {
    color: #f48c8f;
    font-size: 1.2rem;
    line-height: 22px;
    font-family: "Lato";
    font-weight: 400;
    text-align: left;
}

.inputSub::placeholder {
    color: #f48c8f;
    font-size: 1.2rem;
    line-height: 22px;
    font-family: "Lato";
    font-weight: 400;
    text-align: left;
}

.inputTextarea {
    height: 187px;
    resize: none;
}

.inputTextarea::-webkit-input-placeholder {
    color: #f48c8f;
    font-size: 1.2rem;
    line-height: 22px;
    font-family: "Lato";
    font-weight: 400;
    letter-spacing: -0.003rem;


}

.inputTextarea:-ms-input-placeholder {
    color: #f48c8f;
    font-size: 1.2rem;
    line-height: 22px;
    font-family: "Lato";
    font-weight: 400;
    letter-spacing: -0.003rem;


}

.inputTextarea::placeholder {
    color: #f48c8f;
    font-size: 1.2rem;
    line-height: 22px;
    font-family: "Lato";
    font-weight: 400;
    letter-spacing: -0.003rem;


}

.submit {
    border: none;
    width: 100%;
    border-radius: 5px;
    background-color: #d6564f;
    font-size: 1.2rem;
    line-height: 22px;
    color: #f48c8f;
    font-family: "Lato";
    font-weight: 400;
    text-align: center;
}

.submit:hover {
    background-color: #2d303a;
    color: white;
}

.footer {
    font-size: 1.2rem;
    padding: 30px 41px;
    height: 76px;
    background-color: #2d303a;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.copyright {
    letter-spacing: -0.015rem;
    color: #666d89;
}

.social {
    margin-top: -8px;

}

.icons {
    margin-left: 4.5px;
}

.icons:hover{
	cursor: pointer;
	border-radius: 50%;
	background-color: white;}













